<link rel="stylesheet" href="{{'/css/bootstrap.css' | prepend: site.baseurl}}">
<link rel="stylesheet" href="{{'/css/stylesheet.css' | prepend: site.baseurl}}">

<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,800" rel="stylesheet">

<script src="{{'/js/jquery-3.3.1.min.js' | prepend: site.baseurl}}" charset="utf-8"></script>
<script src="{{'/js/tether.js' | prepend: site.baseurl}}" charset="utf-8"></script>
<script src="{{'/js/bootstrap.min.js' | prepend: site.baseurl}}" charset="utf-8"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-90343467-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-90343467-6');
</script>
