<meta property="og:title" content="Josh Fayer's Blog">
<meta property="og:description" content="A place for any various thoughts I'd like to jot to down.">
<meta property="og:image" content="{{'/assets/images/headshot.jpg' | prepend: site.baseurl}}">
<meta property="og:url" content="{{site.url}}">

<meta name="twitter:title" content="Josh Fayer's Blog">
<meta name="twitter:description" content="A place for any various thoughts I'd like to jot to down.">
<meta name="twitter:image" content="{{'/assets/images/headshot.jpg' | prepend: site.baseurl}}">
<meta name="twitter:card" content="{{site.url}}">