<nav class="navbar navbar-toggleable-sm navbar-light bg-light">
  <a class="navbar-brand" href="{{site.url}}">{{site.site}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav" aria-controls="mainnav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainnav">
    <ul class="navbar-nav mr-auto">
      <li clas="nav-item"><a class="nav-link" href="{{site.url}}">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sections
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for category in site.categories %}
            {% assign words = {{category.first | split: '-'}}  %}
            <a class="dropdown-item" href="/{{category | first | slugify 'pretty'}}">{{words | join: ' '}}</a>
          {% endfor%}
        </div>
      </li>
    </ul>
  </div>
</nav>
